.submitBtn, .delete_btn, .edit_btn {
  display: inline-box;
  font-size: 16px;
  color: #fff;
  max-width: 200px;
  margin: 20px auto;
  padding: 5px 30px;
  border-radius: 8px;
  transition: opacity 0.5s;
  cursor: pointer;
}
.submitBtn:hover, .delete_btn:hover, .edit_btn:hover {
  opacity: 0.6;
}
.submitBtn {
  background-color: #29b744;
}
.delete_btn {
  background-color: #df164a;
}
.edit_btn {
  background-color: #026aa7;
}
