.carddetailPage {
  color: #fff;
  max-width: 800px;
  padding: 30px 20px;
  margin: 0 auto;
}
.carddetailPage .container {
  width: 100%;
  background-color: #7d807c opacity 0.8;
  border-radius: 4px;
}
.carddetailPage .container .cardContents {
  width: 100%;
}
.carddetailPage .container .cardContents_title, .carddetailPage .container .cardContents_memo, .carddetailPage .container .cardContents_liststatus {
  margin: 0 auto;
  padding: 10px 0;
}
.carddetailPage .container .cardContents .each-line-title {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 4px 0px;
  border-bottom: solid 3px #fff;
  width: 150px;
}
.carddetailPage .container .cardContents .delete_btn {
  margin-top: 20px;
  background-color: #df164a;
  max-width: 200px;
  margin: 10px auto;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
  transition: opacity 0.5s;
  text-decoration: none;
}
.carddetailPage .container .cardContents .delete_btn:hover {
  opacity: 0.7;
}
.carddetailPage .container .cardContents_btnArea {
  margin-top: 40px;
  text-align: center;
}
.carddetailPage .container .cardContents_btnArea > a {
  display: block;
}
.carddetailPage .container .cardContents_btnArea > a.edit_btn {
  max-width: 200px;
  margin: 0 auto;
  background: #026aa7;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
  transition: opacity 0.5s;
  text-decoration: none;
}
.carddetailPage .container .cardContents_btnArea > a.edit_btn:hover {
  opacity: 0.7;
}
.carddetailPage .container .cardContents .each-contents {
  font-size: 20px;
  padding: 7px 0px;
  text-align: center;
}
